.reportview-container .main .block-container {
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1500px;
}

.stPlotlyChart.js-plotly-plot {
  margin-left: -70px;
  margin-top: -18px;
  z-index: 0 !important;
}

#MainMenu {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

.home-image {
  height: 25px;
  margin-bottom: 5px;
}

#core-link {
  text-decoration: none;
  color: black
}

